---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Contact">
  <div class="container">
    <h2 class="py-5 text-center">Contact</h2>
    <div class="row">
      <div class="col">
        <ContactForm />
      </div>
      <div
        class="col d-flex flex-column justify-content-center align-items-center"
      >
        <iframe
          width="425"
          height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-104.5256155729294%2C40.106863774354366%2C-104.51667845249176%2C40.1104824748719&layer=mapnik&marker=40.10867314867772%2C-104.52114701271057"
          style="border: 1px solid black"></iframe><br /><small
          ><a
            href="https://www.openstreetmap.org/?mlat=40.108673&mlon=-104.521147#map=18/40.108673/-104.521147&layers=N"
            >View Larger Map</a
          ></small
        >
      </div>
    </div>
  </div>
</Layout>
