---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
import FormAccordion from "../components/FormsAccordion.astro";
---

<Layout title="Contact">
  <div class="container">
    <h2 class="py-5 text-center">Contact</h2>
    <div class="row">
      <div
        class="col-12 col-lg-5 mb-5 offset-lg-1 d-flex justify-content-center"
      >
        <div class="w-100">
          <FormAccordion />
        </div>
      </div>
      <div
        class="col-12 col-lg-6 mb-5 d-flex flex-column justify-content-start align-items-center align-items-lg-start"
      >
        <p class="fs-4 text-center w-100">195 E. Gandy Ave. Keenseburg, CO</p>
        <Map />
      </div>
    </div>
  </div>
</Layout>
