---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import ImageKodi from "../assets/images/kodi.webp";
import ParagraphWidth from "../components/ParagraphWidth.astro";

const servicesData = [
  {
    service: "Personal Care",
    img: ImageKodi,
    imgAlt: "",
    careList: [
      "Assistance with bathing, grooming and dressing",
      "Home cooked nutritional meals",
      "Incontinence Care",
      "Housekeeping and Laundry",
      "Hydration care for fluid intake",
    ],
  },
  {
    service: "Therapeutic Activites",
    img: ImageKodi,
    imgAlt: "",
    careList: [
      "Arts and Crafts",

      "Daily Exercises",

      "Music and Sing-a-longs",

      "Games and Memory Activities",

      "Gardening",
    ],
  },
  {
    service: "Health Care Services",
    img: ImageKodi,
    imgAlt: "",
    careList: [
      "Medication administration",
      "Nursing services by home health",
      "Hospice services",
    ],
  },
];
---

<Layout title="Services">
  <div class="container">
    <h2 class="py-5 text-center">Services</h2>
    <ParagraphWidth>
      <p class="fs-md-5 mx-auto">
        At Colorado Assisted Living Communities, we believe in an active and
        fulfilling lifestyle for our residents. Our community is alive and
        vibrant, offering a range of activities that cater to all interests.
        Whether it's gardening, playing games or arts and crafts we have
        something for everyone. Our residents lead enriched lives, and we are
        proud to be a part of their journey. Contact us to learn more about our
        activities and lifestyle.
      </p>
    </ParagraphWidth>
    <div
      class="py-5 d-flex flex-wrap justify-content-center align-items-start gap-5"
    >
      {servicesData.map((data) => <ServiceCard data={data} />)}
    </div>
  </div>
</Layout>
