---
import { Icon } from "astro-icon/components";
---

<form class="">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingName"
      placeholder="Name"
    />
    <label
      for="floatingName"
      class="d-flex justify-content-center align-items-center"
      ><Icon name="tabler:user" class="me-1" />Name</label
    >
  </div>
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label
      for="floatingInput"
      class="d-flex justify-content-center align-items-center"
      ><Icon name="tabler:mail" class="me-1" />Email Address</label
    >
  </div>
  <div class="form-floating mb-3">
    <input
      type="tel"
      class="form-control"
      id="floatingPhone"
      placeholder="Phone"
    />
    <label
      for="floatingPhone"
      class="d-flex justify-content-center align-items-center"
      ><Icon name="tabler:phone" class="me-1" />Phone</label
    >
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      id="floatingMessage"
      placeholder=""
      style="height: 100px"></textarea>
    <label for="floatingMessage"
      ><Icon name="tabler:notes" class="me-1" />Message</label
    >
  </div>
</form>
