<form class="">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingName"
      placeholder="Name"
    />
    <label for="floatingName">Name</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email Address</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="tel"
      class="form-control"
      id="floatingPhone"
      placeholder="Phone"
    />
    <label for="floatingPhone">Phone</label>
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      id="floatingMessage"
      placeholder=""
      style="height: 100px"></textarea>
    <label for="floatingMessage">Message</label>
  </div>
</form>
