---
import Carousel from "../components/Carousel.astro";
import { Icon } from "astro-icon/components";
---

<div class="container py-5">
  <div class="row">
    <div class="col col-lg-5 pb-5 d-flex flex-column">
      <h2 class="display-4 mb-3 text-center text-lg-start">
        Welcome to <br /><span class="fw-bold"
          >Charleston At Keenesburg
        </span><br />Assisted Living
      </h2>
      <p class="lead mb-5 text-center text-lg-start">
        Care givers who take care of you like you were their parents.
      </p>
      <a
        class="btn btn-lg btn-outline-secondary d-inline-flex align-self-center align-self-lg-start"
        href="/contact"
        ><Icon
          name="tabler:send"
          size={25}
          class="align-self-center pe-1"
        />Contact Now</a
      >
    </div>
    <div class="col col-lg-7 flex-fill">
      <Carousel />
    </div>
  </div>
</div>
