@import "bootstrap/scss/bootstrap";


$utilities: map-merge(
        $utilities,
        (
            "font-size": map-merge(
                    map-get($utilities, "font-size"),
                    (
                        responsive: true,
                        values: $font-sizes
                    )
            )
        )
);

@import "bootstrap/scss/utilities/api";
